.container {
    width: min(100%, 1440px);
    margin: auto;

}

/* 1 button  */

.buttoncard {
    padding: 70px;
    display: flex;
    column-gap: 100px;
    background-color: aqua;
}

.buttondiv {
    background-color: rgb(191, 106, 180);
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(191, 106, 180);
    color: white;
    cursor: pointer;
    padding: 40px 70px;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 8px white inset, 5px 5px 5px black;
    font-size: 30px;
    letter-spacing: 8px;
    text-shadow: 6px 6px 7px black;
}

button:active {
    box-shadow: 3px 3px 8px black inset, 5px 5px 5px white;
    text-shadow: 1px 1px 2px rgb(184, 6, 160);
}

/* 2 card */

.photoarticle {
    padding: 35px;
    background-color: rgb(255, 248, 248);
    transition-property: all;
    transition-duration: 1s;
}

.photodiv {
    width: 350px;
    height: 466px;
}

.photo {
    width: 100%;
    transition-property: all;
    transition-duration: 1s;
}

.photoarticle:hover {
    border-radius: 30px;
    box-shadow: 4px 4px 8px greenyellow, -4px -4px 8px greenyellow;
}

.photoarticle:hover .photo {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.phototext {
    font-size: 20px;
    color: green;
    text-align: start;
}

/* task 3 text  */

.task3 {
    font-size: 140px;
    letter-spacing: 20px;
    text-align: center;
    color: red;
    animation-name: lightup;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes lightup {
    50% {
        color: red;
    }

    100% {
        color: black;
    }
}